rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return signedIn() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read: if signedIn();
      allow create: if isOwner(uid);
      allow update: if isOwner(uid);
      allow delete: if false;
    }

    match /moments/{momentId} {
      allow read: if signedIn();
      allow create: if signedIn()
        && request.resource.data.creatorId == request.auth.uid;
      allow update: if signedIn() && (
        resource.data.creatorId == request.auth.uid
        || request.resource.data.diff(resource.data).affectedKeys().hasOnly(['participantsCount','reactionsCount','commentsCount'])
      );
      allow delete: if signedIn() && resource.data.creatorId == request.auth.uid;

      match /participants/{uid} {
        allow read: if signedIn();
        allow create: if isOwner(uid);
        allow update: if isOwner(uid);
        allow delete: if isOwner(uid);
      }
    }

    match /comments/{commentId} {
      allow read: if signedIn();
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if signedIn() && resource.data.userId == request.auth.uid;
    }

    match /reports/{reportId} {
      allow create: if signedIn() && request.resource.data.reporterId == request.auth.uid;
      allow read: if false;
      allow update, delete: if false;
    }
  }
}
